<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>

    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SimControl.Samples.CSharp.ClassLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="SimControl.Samples.CSharp.ConsoleApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>

    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SimControl.Samples.CSharp.ClassLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="SimControl.Samples.CSharp.ConsoleApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>

  </configSections>

  <applicationSettings>

    <SimControl.Samples.CSharp.ClassLibrary.Properties.Settings>
      <setting name="CSharpClassLibrary_AppSetting" serializeAs="String">
        <value>CSharpClassLibrary_AppSetting_Test</value>
      </setting>
    </SimControl.Samples.CSharp.ClassLibrary.Properties.Settings>

    <SimControl.Samples.CSharp.ConsoleApplication.Properties.Settings>
      <setting name="CSharpConsoleApplication_AppSetting" serializeAs="String">
        <value>CSharpConsoleApplication_AppSetting_Test</value>
      </setting>
    </SimControl.Samples.CSharp.ConsoleApplication.Properties.Settings>

  </applicationSettings>

  <userSettings>

    <SimControl.Samples.CSharp.ClassLibrary.Properties.Settings>
      <setting name="CSharpClassLibrary_UserSetting" serializeAs="String">
        <value>CSharpClassLibrary_UserSetting_Test</value>
      </setting>
      <setting name="CSharpClassLibrary_UserSetting_StringCollection" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>GHI</string>
            <string>JKL</string>
          </ArrayOfString>
        </value>
      </setting>
    </SimControl.Samples.CSharp.ClassLibrary.Properties.Settings>

    <SimControl.Samples.CSharp.ConsoleApplication.Properties.Settings>
      <setting name="CSharpConsoleApplication_UserSetting" serializeAs="String">
        <value>CSharpConsoleApplication_UserSetting_Test</value>
      </setting>

      <setting name="CSharpConsoleApplication_UserSetting_StringCollection" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>GHI</string>
            <string>JKL</string>
          </ArrayOfString>
        </value>
      </setting>
    </SimControl.Samples.CSharp.ConsoleApplication.Properties.Settings>

  </userSettings>

  <system.serviceModel>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="clientEndPointBehavior">
          <callbackDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </endpointBehaviors>

    </behaviors>

    <bindings>

      <basicHttpBinding>
        <binding closeTimeout="infinite" openTimeout="infinite" receiveTimeout="infinite" sendTimeout="infinite" maxBufferPoolSize="10000000000" maxReceivedMessageSize="1000000000" messageEncoding="Mtom" bypassProxyOnLocal="true" useDefaultWebProxy="false">
          <security mode="None" />
        </binding>
      </basicHttpBinding>

      <wsDualHttpBinding>
        <binding closeTimeout="infinite" openTimeout="infinite" receiveTimeout="infinite" sendTimeout="infinite" maxBufferPoolSize="10000" maxReceivedMessageSize="10000" messageEncoding="Mtom" bypassProxyOnLocal="true" useDefaultWebProxy="false">
          <reliableSession ordered="true" inactivityTimeout="24.00:00:00" />
          <security mode="None" />
        </binding>
      </wsDualHttpBinding>

      <wsHttpBinding>
        <binding closeTimeout="infinite" openTimeout="infinite" receiveTimeout="infinite" sendTimeout="infinite" maxBufferPoolSize="10000000000" maxReceivedMessageSize="1000000000" messageEncoding="Mtom" bypassProxyOnLocal="true" useDefaultWebProxy="false">
          <reliableSession enabled="true" ordered="true" inactivityTimeout="24.00:00:00" />
          <security mode="None" />
        </binding>
      </wsHttpBinding>

    </bindings>

    <client>

      <endpoint name="SimControl.Samples.CSharp.Wcf.Client.SampleServiceEap.SampleServiceClient" binding="wsDualHttpBinding" contract="SampleServiceEap.ISampleService" />

      <endpoint name="SimControl.Samples.CSharp.Wcf.Client45.SampleServiceTap.SampleServiceClient" binding="wsDualHttpBinding" contract="SampleServiceTap.ISampleService" />

    </client>

    <services>

      <service name="SimControl.Samples.CSharp.Wcf.Service.DuplexSampleServicePerSessionInstance">
        <endpoint binding="wsDualHttpBinding" contract="SimControl.Samples.CSharp.Wcf.ServiceContract.ISampleService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/SimControl.Samples.CSharp.Wcf.Service/DuplexSampleServicePerSessionInstance/" />
          </baseAddresses>
          <timeouts closeTimeout="Infinite" openTimeout="Infinite" />
        </host>
      </service>

      <service name="SimControl.Samples.CSharp.Wcf.Service.DuplexSampleServiceSingleInstance">
        <endpoint binding="wsDualHttpBinding" contract="SimControl.Samples.CSharp.Wcf.ServiceContract.ISampleService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>

        <endpoint address="net.pipe://localhost/SimControl.Samples.CSharp.Wcf.Service/DuplexSampleServiceSingleInstance.wsDualHttpBinding" binding="netNamedPipeBinding" contract="SimControl.Samples.CSharp.Wcf.ServiceContract.ISampleService">
        </endpoint>

        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/SimControl.Samples.CSharp.Wcf.Service/DuplexSampleServiceSingleInstance.wsDualHttpBinding/" />
          </baseAddresses>
          <timeouts closeTimeout="Infinite" openTimeout="Infinite" />
        </host>
      </service>

      <service name="SimControl.Samples.CSharp.Wcf.Service.SampleServicePerSessionInstance">
        <endpoint address="wsHttpBinding" binding="wsHttpBinding" contract="SimControl.Samples.CSharp.Wcf.ServiceContract.ISampleService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/SimControl.Samples.CSharp.Wcf.Service/SampleServicePerSessionInstance.basicHttpBinding/" />
          </baseAddresses>
          <timeouts closeTimeout="Infinite" openTimeout="Infinite" />
        </host>
      </service>

      <service name="SimControl.Samples.CSharp.Wcf.Service.SampleServiceSingleInstance">
        <endpoint binding="wsHttpBinding" contract="SimControl.Samples.CSharp.Wcf.ServiceContract.ISampleService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/SimControl.Samples.CSharp.Wcf.Service/SampleServiceSingleInstance/" />
          </baseAddresses>
          <timeouts closeTimeout="Infinite" openTimeout="Infinite" />
        </host>
      </service>

    </services>

  </system.serviceModel>

  <system.web>
    <compilation debug="true" />
  </system.web>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
