<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <system.serviceModel>
        <services>
            <service>
                <endpoint binding="mexHttpBinding" xdt:Locator="Match(binding)" xdt:Transform="RemoveAll" />
                <host>
                    <baseAddresses xdt:Transform="RemoveAll" />
                    <timeouts closeTimeout="00:00:01" openTimeout="00:00:01" xdt:Transform="SetAttributes(closeTimeout,openTimeout)" />
                </host>
            </service>
        </services>
        <bindings>
            <wsDualHttpBinding>
                <binding closeTimeout="00:00:01" openTimeout="00:00:01" sendTimeout="00:00:01" xdt:Transform="SetAttributes(closeTimeout,openTimeout,sendTimeout)">
                    <reliableSession inactivityTimeout="00:00:01" xdt:Transform="SetAttributes(inactivityTimeout)" />
                </binding>
            </wsDualHttpBinding>
        </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior>
                    <serviceMetadata httpGetEnabled="false" xdt:Transform="SetAttributes(httpGetEnabled)" />
                    <serviceDebug includeExceptionDetailInFaults="false" xdt:Transform="SetAttributes(includeExceptionDetailInFaults)" />
                </behavior>
            </serviceBehaviors>
            <endpointBehaviors>
                <behavior name="clientEndPointBehavior">
                    <callbackDebug includeExceptionDetailInFaults="false" xdt:Transform="SetAttributes(includeExceptionDetailInFaults)" />
                </behavior>
            </endpointBehaviors>
        </behaviors>
    </system.serviceModel>
    <system.web>
        <compilation debug="true" />
    </system.web>
</configuration>