<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="SimControlTests" Description="This rule set contains all rules. Running this rule set may result in a large number of warnings being reported. Use this rule set to get a comprehensive picture of all issues in your code. This can help you decide which of the more focused rule sets are most appropriate to run for your projects." ToolsVersion="14.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="AsyncFixer" RuleNamespace="AsyncFixer">
    <Rule Id="AsyncFixer04" Action="None" />
  </Rules>
  <Rules AnalyzerId="AsyncVoidAnalyzer" RuleNamespace="AsyncVoidAnalyzer">
    <Rule Id="AsyncVoidAnalyzer" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="CSharpEssentials" RuleNamespace="CSharpEssentials">
    <Rule Id="CSE0002" Action="Warning" />
    <Rule Id="CSE0003" Action="Warning" />
    <Rule Id="FadedToken" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="CodeCracker.CSharp" RuleNamespace="CodeCracker.CSharp">
    <Rule Id="CC0001" Action="None" />
    <Rule Id="CC0010" Action="Warning" />
    <Rule Id="CC0013" Action="Warning" />
    <Rule Id="CC0014" Action="Warning" />
    <Rule Id="CC0017" Action="Warning" />
    <Rule Id="CC0018" Action="Warning" />
    <Rule Id="CC0019" Action="Warning" />
    <Rule Id="CC0020" Action="Warning" />
    <Rule Id="CC0022" Action="None" />
    <Rule Id="CC0026" Action="Warning" />
    <Rule Id="CC0030" Action="Warning" />
    <Rule Id="CC0031" Action="None" />
    <Rule Id="CC0032" Action="Warning" />
    <Rule Id="CC0034" Action="Warning" />
    <Rule Id="CC0035" Action="None" />
    <Rule Id="CC0037" Action="None" />
    <Rule Id="CC0038" Action="Warning" />
    <Rule Id="CC0042" Action="None" />
    <Rule Id="CC0043" Action="Warning" />
    <Rule Id="CC0044" Action="None" />
    <Rule Id="CC0045" Action="None" />
    <Rule Id="CC0046" Action="None" />
    <Rule Id="CC0047" Action="None" />
    <Rule Id="CC0048" Action="Warning" />
    <Rule Id="CC0049" Action="Warning" />
    <Rule Id="CC0052" Action="Warning" />
    <Rule Id="CC0054" Action="Warning" />
    <Rule Id="CC0056" Action="Warning" />
    <Rule Id="CC0057" Action="None" />
    <Rule Id="CC0061" Action="Warning" />
    <Rule Id="CC0062" Action="Warning" />
    <Rule Id="CC0063" Action="Warning" />
    <Rule Id="CC0064" Action="Warning" />
    <Rule Id="CC0065" Action="None" />
    <Rule Id="CC0068" Action="Warning" />
    <Rule Id="CC0070" Action="Warning" />
    <Rule Id="CC0071" Action="None" />
    <Rule Id="CC0072" Action="Warning" />
    <Rule Id="CC0073" Action="None" />
    <Rule Id="CC0074" Action="None" />
    <Rule Id="CC0075" Action="Warning" />
    <Rule Id="CC0076" Action="None" />
    <Rule Id="CC0079" Action="None" />
    <Rule Id="CC0081" Action="Warning" />
    <Rule Id="CC0082" Action="None" />
    <Rule Id="CC0084" Action="None" />
    <Rule Id="CC0088" Action="Warning" />
    <Rule Id="CC0089" Action="Warning" />
    <Rule Id="CC0090" Action="Warning" />
    <Rule Id="CC0091" Action="None" />
    <Rule Id="CC0092" Action="Warning" />
    <Rule Id="CC0095" Action="Warning" />
    <Rule Id="CC0105" Action="None" />
    <Rule Id="CC0108" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1005" Action="None" />
    <Rule Id="CA1006" Action="None" />
    <Rule Id="CA1020" Action="None" />
    <Rule Id="CA1026" Action="None" />
    <Rule Id="CA1031" Action="Warning" />
    <Rule Id="CA1051" Action="Warning" />
    <Rule Id="CA1062" Action="None" />
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1500" Action="None" />
    <Rule Id="CA1506" Action="None" />
    <Rule Id="CA1702" Action="None" />
    <Rule Id="CA1704" Action="None" />
    <Rule Id="CA1707" Action="None" />
    <Rule Id="CA1709" Action="None" />
    <Rule Id="CA1810" Action="None" />
    <Rule Id="CA1812" Action="Warning" />
    <Rule Id="CA1822" Action="None" />
    <Rule Id="CA2204" Action="None" />
    <Rule Id="CA2210" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS3016" Action="None" />
    <Rule Id="CS8019" Action="None" />
    <Rule Id="CS8020" Action="Warning" />
    <Rule Id="CS8040" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0001" Action="None" />
    <Rule Id="IDE0002" Action="None" />
    <Rule Id="IDE0003" Action="None" />
    <Rule Id="IDE0004" Action="Warning" />
    <Rule Id="IDE0005" Action="Warning" />
    <Rule Id="IDE1005" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Pihrtsoft.CodeAnalysis.CSharp" RuleNamespace="Pihrtsoft.CodeAnalysis.CSharp">
    <Rule Id="RCS1001" Action="None" />
    <Rule Id="RCS1002" Action="Warning" />
    <Rule Id="RCS1002FadeOut" Action="Warning" />
    <Rule Id="RCS1003" Action="None" />
    <Rule Id="RCS1004" Action="Warning" />
    <Rule Id="RCS1005" Action="Warning" />
    <Rule Id="RCS1005FadeOut" Action="Warning" />
    <Rule Id="RCS1006" Action="Warning" />
    <Rule Id="RCS1006FadeOut" Action="Warning" />
    <Rule Id="RCS1008" Action="None" />
    <Rule Id="RCS1009" Action="None" />
    <Rule Id="RCS1010" Action="None" />
    <Rule Id="RCS1013" Action="Warning" />
    <Rule Id="RCS1014" Action="None" />
    <Rule Id="RCS1015" Action="Warning" />
    <Rule Id="RCS1016" Action="Warning" />
    <Rule Id="RCS1016FadeOut" Action="Warning" />
    <Rule Id="RCS1018" Action="Warning" />
    <Rule Id="RCS1019" Action="Warning" />
    <Rule Id="RCS1020" Action="Warning" />
    <Rule Id="RCS1021" Action="Warning" />
    <Rule Id="RCS1021FadeOut" Action="Warning" />
    <Rule Id="RCS1022" Action="Warning" />
    <Rule Id="RCS1022FadeOut" Action="Warning" />
    <Rule Id="RCS1023" Action="None" />
    <Rule Id="RCS1024" Action="Warning" />
    <Rule Id="RCS1026" Action="Warning" />
    <Rule Id="RCS1028" Action="Warning" />
    <Rule Id="RCS1029" Action="None" />
    <Rule Id="RCS1031" Action="Warning" />
    <Rule Id="RCS1031FadeOut" Action="Warning" />
    <Rule Id="RCS1032" Action="Warning" />
    <Rule Id="RCS1032FadeOut" Action="Warning" />
    <Rule Id="RCS1033" Action="Warning" />
    <Rule Id="RCS1033FadeOut" Action="Warning" />
    <Rule Id="RCS1034" Action="Warning" />
    <Rule Id="RCS1035" Action="Warning" />
    <Rule Id="RCS1037" Action="Warning" />
    <Rule Id="RCS1038" Action="Warning" />
    <Rule Id="RCS1039" Action="Warning" />
    <Rule Id="RCS1040" Action="Warning" />
    <Rule Id="RCS1041" Action="Warning" />
    <Rule Id="RCS1042" Action="Warning" />
    <Rule Id="RCS1043" Action="Warning" />
    <Rule Id="RCS1044" Action="Warning" />
    <Rule Id="RCS1047" Action="None" />
    <Rule Id="RCS1047FadeOut" Action="None" />
    <Rule Id="RCS1048" Action="Warning" />
    <Rule Id="RCS1048FadeOut" Action="Warning" />
    <Rule Id="RCS1049" Action="Warning" />
    <Rule Id="RCS1049FadeOut" Action="Warning" />
    <Rule Id="RCS1054" Action="Warning" />
    <Rule Id="RCS1054FadeOut" Action="Warning" />
    <Rule Id="RCS1055" Action="Warning" />
    <Rule Id="RCS1056" Action="Warning" />
    <Rule Id="RCS1057" Action="Warning" />
    <Rule Id="RCS1058" Action="Warning" />
    <Rule Id="RCS1058FadeOut" Action="Warning" />
    <Rule Id="RCS1060" Action="None" />
    <Rule Id="RCS1061" Action="Warning" />
    <Rule Id="RCS1061FadeOut" Action="Warning" />
    <Rule Id="RCS1062" Action="None" />
    <Rule Id="RCS1062FadeOut" Action="None" />
    <Rule Id="RCS1064" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="RefactoringEssentials" RuleNamespace="RefactoringEssentials">
    <Rule Id="CS0126ReturnMustBeFollowedByAnyExpression" Action="Warning" />
    <Rule Id="CS1729TypeHasNoConstructorWithNArgumentsAnalyzer" Action="Warning" />
    <Rule Id="MissingInterfaceMemberImplementationAnalyzer" Action="Warning" />
    <Rule Id="ProhibitedModifiersAnalyzer" Action="Warning" />
    <Rule Id="RECS0002" Action="Warning" />
    <Rule Id="RECS0004" Action="Warning" />
    <Rule Id="RECS0005" Action="Warning" />
    <Rule Id="RECS0010" Action="Warning" />
    <Rule Id="RECS0012" Action="Warning" />
    <Rule Id="RECS0013" Action="Warning" />
    <Rule Id="RECS0014" Action="Warning" />
    <Rule Id="RECS0015" Action="Warning" />
    <Rule Id="RECS0022" Action="None" />
    <Rule Id="RECS0032" Action="Warning" />
    <Rule Id="RECS0033" Action="Warning" />
    <Rule Id="RECS0036" Action="Warning" />
    <Rule Id="RECS0037" Action="Warning" />
    <Rule Id="RECS0038" Action="Warning" />
    <Rule Id="RECS0040" Action="Warning" />
    <Rule Id="RECS0041" Action="Warning" />
    <Rule Id="RECS0042" Action="Warning" />
    <Rule Id="RECS0043" Action="Warning" />
    <Rule Id="RECS0044" Action="Warning" />
    <Rule Id="RECS0045" Action="Warning" />
    <Rule Id="RECS0046" Action="Warning" />
    <Rule Id="RECS0047" Action="Warning" />
    <Rule Id="RECS0048" Action="Warning" />
    <Rule Id="RECS0049" Action="Warning" />
    <Rule Id="RECS0050" Action="Warning" />
    <Rule Id="RECS0051" Action="Warning" />
    <Rule Id="RECS0052" Action="Warning" />
    <Rule Id="RECS0053" Action="Warning" />
    <Rule Id="RECS0054" Action="Warning" />
    <Rule Id="RECS0055" Action="Warning" />
    <Rule Id="RECS0056" Action="Warning" />
    <Rule Id="RECS0057" Action="Warning" />
    <Rule Id="RECS0058" Action="Warning" />
    <Rule Id="RECS0059" Action="Warning" />
    <Rule Id="RECS0069" Action="Warning" />
    <Rule Id="RECS0070" Action="None" />
    <Rule Id="RECS0071" Action="Warning" />
    <Rule Id="RECS0072" Action="Warning" />
    <Rule Id="RECS0073" Action="Warning" />
    <Rule Id="RECS0074" Action="Warning" />
    <Rule Id="RECS0075" Action="Warning" />
    <Rule Id="RECS0076" Action="Warning" />
    <Rule Id="RECS0077" Action="Warning" />
    <Rule Id="RECS0078" Action="Warning" />
    <Rule Id="RECS0079" Action="Warning" />
    <Rule Id="RECS0082" Action="None" />
    <Rule Id="RECS0086" Action="Warning" />
    <Rule Id="RECS0087" Action="Warning" />
    <Rule Id="RECS0091" Action="None" />
    <Rule Id="RECS0092" Action="None" />
    <Rule Id="RECS0093" Action="Warning" />
    <Rule Id="RECS0094" Action="Warning" />
    <Rule Id="RECS0100" Action="Warning" />
    <Rule Id="RECS0101" Action="Warning" />
    <Rule Id="RECS0102" Action="Warning" />
    <Rule Id="RECS0103" Action="Warning" />
    <Rule Id="RECS0104" Action="Warning" />
    <Rule Id="RECS0106" Action="Warning" />
    <Rule Id="RECS0108" Action="None" />
    <Rule Id="RECS0109" Action="Warning" />
    <Rule Id="RECS0113" Action="Warning" />
    <Rule Id="RECS0114" Action="Warning" />
    <Rule Id="RECS0116" Action="Warning" />
    <Rule Id="RECS0118" Action="Warning" />
    <Rule Id="RECS0120" Action="Warning" />
    <Rule Id="RECS0121" Action="Warning" />
    <Rule Id="RECS0122" Action="Warning" />
    <Rule Id="RECS0123" Action="Warning" />
    <Rule Id="RECS0126" Action="Warning" />
    <Rule Id="RECS0127" Action="Warning" />
    <Rule Id="RECS0128" Action="Warning" />
    <Rule Id="RECS0129" Action="None" />
    <Rule Id="RECS0131" Action="Warning" />
    <Rule Id="RECS0132" Action="Warning" />
    <Rule Id="RECS0134" Action="Warning" />
    <Rule Id="RECS0135" Action="None" />
    <Rule Id="RECS0138" Action="Warning" />
    <Rule Id="RECS0140" Action="Warning" />
    <Rule Id="RECS0141" Action="Warning" />
    <Rule Id="RECS0142" Action="Warning" />
    <Rule Id="RECS0144" Action="Warning" />
    <Rule Id="RECS0145" Action="None" />
    <Rule Id="RECS0147" Action="Warning" />
    <Rule Id="RECS0148" Action="Warning" />
    <Rule Id="RECS0151" Action="Warning" />
    <Rule Id="RECS0152" Action="Warning" />
    <Rule Id="RECS0153" Action="Warning" />
    <Rule Id="RECS0154" Action="None" />
    <Rule Id="RECS0158" Action="Warning" />
    <Rule Id="RECS0159" Action="Warning" />
    <Rule Id="RECS0164" Action="Warning" />
    <Rule Id="RECS9000" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="SonarAnalyzer.CSharp" RuleNamespace="SonarAnalyzer.CSharp">
    <Rule Id="S105" Action="Warning" />
    <Rule Id="S1109" Action="Warning" />
    <Rule Id="S1116" Action="Warning" />
    <Rule Id="S1125" Action="Warning" />
    <Rule Id="S1135" Action="Info" />
    <Rule Id="S1144" Action="Warning" />
    <Rule Id="S1185" Action="Warning" />
    <Rule Id="S1226" Action="Warning" />
    <Rule Id="S1227" Action="Warning" />
    <Rule Id="S125" Action="None" />
    <Rule Id="S127" Action="Warning" />
    <Rule Id="S1301" Action="Warning" />
    <Rule Id="S1313" Action="Warning" />
    <Rule Id="S1450" Action="Warning" />
    <Rule Id="S1659" Action="Warning" />
    <Rule Id="S1858" Action="Warning" />
    <Rule Id="S1905" Action="Warning" />
    <Rule Id="S1939" Action="Warning" />
    <Rule Id="S1994" Action="Warning" />
    <Rule Id="S2070" Action="Warning" />
    <Rule Id="S2197" Action="Warning" />
    <Rule Id="S2330" Action="Warning" />
    <Rule Id="S2333" Action="Warning" />
    <Rule Id="S2387" Action="Warning" />
    <Rule Id="S2551" Action="Warning" />
    <Rule Id="S2674" Action="Warning" />
    <Rule Id="S2737" Action="Warning" />
    <Rule Id="S2760" Action="Warning" />
    <Rule Id="S2952" Action="Warning" />
    <Rule Id="S2955" Action="Warning" />
    <Rule Id="S3052" Action="Warning" />
    <Rule Id="S3215" Action="Warning" />
    <Rule Id="S3216" Action="Warning" />
    <Rule Id="S3234" Action="Warning" />
    <Rule Id="S3235" Action="Warning" />
    <Rule Id="S3240" Action="Warning" />
    <Rule Id="S3246" Action="Warning" />
    <Rule Id="S3251" Action="Warning" />
    <Rule Id="S3253" Action="Warning" />
    <Rule Id="S3254" Action="Warning" />
    <Rule Id="S3257" Action="Warning" />
    <Rule Id="S3261" Action="Warning" />
    <Rule Id="S3441" Action="Warning" />
    <Rule Id="S3457" Action="Warning" />
    <Rule Id="S3458" Action="Warning" />
    <Rule Id="S3532" Action="Warning" />
    <Rule Id="S3597" Action="None" />
    <Rule Id="S818" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="SonarLint" RuleNamespace="SonarLint">
    <Rule Id="S105" Action="Warning" />
    <Rule Id="S1066" Action="Warning" />
    <Rule Id="S108" Action="Warning" />
    <Rule Id="S1109" Action="Warning" />
    <Rule Id="S1116" Action="Warning" />
    <Rule Id="S1117" Action="None" />
    <Rule Id="S1118" Action="Warning" />
    <Rule Id="S1121" Action="None" />
    <Rule Id="S1125" Action="Warning" />
    <Rule Id="S1145" Action="Warning" />
    <Rule Id="S1155" Action="Warning" />
    <Rule Id="S1172" Action="Warning" />
    <Rule Id="S1186" Action="None" />
    <Rule Id="S1226" Action="Warning" />
    <Rule Id="S1227" Action="Warning" />
    <Rule Id="S1244" Action="Warning" />
    <Rule Id="S125" Action="None" />
    <Rule Id="S127" Action="Warning" />
    <Rule Id="S1301" Action="Warning" />
    <Rule Id="S131" Action="None" />
    <Rule Id="S1313" Action="Warning" />
    <Rule Id="S1481" Action="Warning" />
    <Rule Id="S1656" Action="Warning" />
    <Rule Id="S1659" Action="Warning" />
    <Rule Id="S1694" Action="None" />
    <Rule Id="S1697" Action="Warning" />
    <Rule Id="S1699" Action="Warning" />
    <Rule Id="S1764" Action="Warning" />
    <Rule Id="S1848" Action="Warning" />
    <Rule Id="S1854" Action="Warning" />
    <Rule Id="S1862" Action="Warning" />
    <Rule Id="S1871" Action="Warning" />
    <Rule Id="S1905" Action="Warning" />
    <Rule Id="S1939" Action="Warning" />
    <Rule Id="S1940" Action="Warning" />
    <Rule Id="S1994" Action="Warning" />
    <Rule Id="S2070" Action="Warning" />
    <Rule Id="S2123" Action="Warning" />
    <Rule Id="S2197" Action="Warning" />
    <Rule Id="S2219" Action="Warning" />
    <Rule Id="S2223" Action="Warning" />
    <Rule Id="S2225" Action="Warning" />
    <Rule Id="S2228" Action="None" />
    <Rule Id="S2234" Action="Warning" />
    <Rule Id="S2275" Action="Warning" />
    <Rule Id="S2278" Action="Warning" />
    <Rule Id="S2290" Action="Warning" />
    <Rule Id="S2292" Action="Warning" />
    <Rule Id="S2306" Action="Warning" />
    <Rule Id="S2326" Action="Warning" />
    <Rule Id="S2328" Action="Warning" />
    <Rule Id="S2330" Action="Warning" />
    <Rule Id="S2333" Action="Warning" />
    <Rule Id="S2344" Action="Warning" />
    <Rule Id="S2345" Action="Warning" />
    <Rule Id="S2346" Action="Warning" />
    <Rule Id="S2368" Action="Warning" />
    <Rule Id="S2372" Action="Warning" />
    <Rule Id="S2376" Action="Warning" />
    <Rule Id="S2387" Action="Warning" />
    <Rule Id="S2437" Action="Warning" />
    <Rule Id="S2486" Action="Warning" />
    <Rule Id="S2551" Action="Warning" />
    <Rule Id="S2681" Action="Warning" />
    <Rule Id="S2692" Action="Warning" />
    <Rule Id="S2696" Action="Warning" />
    <Rule Id="S2737" Action="Warning" />
    <Rule Id="S2743" Action="Warning" />
    <Rule Id="S2757" Action="Warning" />
    <Rule Id="S2758" Action="Warning" />
    <Rule Id="S2760" Action="Warning" />
    <Rule Id="S2761" Action="Warning" />
    <Rule Id="S2930" Action="Warning" />
    <Rule Id="S2931" Action="None" />
    <Rule Id="S2933" Action="Warning" />
    <Rule Id="S2934" Action="Warning" />
    <Rule Id="S2952" Action="Warning" />
    <Rule Id="S2953" Action="Warning" />
    <Rule Id="S2955" Action="Warning" />
    <Rule Id="S2971" Action="Warning" />
    <Rule Id="S2995" Action="Warning" />
    <Rule Id="S2996" Action="Warning" />
    <Rule Id="S2997" Action="Warning" />
    <Rule Id="S3005" Action="Warning" />
    <Rule Id="S3052" Action="Warning" />
    <Rule Id="S3169" Action="Warning" />
    <Rule Id="S3172" Action="Warning" />
    <Rule Id="S3215" Action="Warning" />
    <Rule Id="S3217" Action="Warning" />
    <Rule Id="S3218" Action="Warning" />
    <Rule Id="S3234" Action="Warning" />
    <Rule Id="S3235" Action="Warning" />
    <Rule Id="S3236" Action="Warning" />
    <Rule Id="S3237" Action="Warning" />
    <Rule Id="S3240" Action="Warning" />
    <Rule Id="S3244" Action="Warning" />
    <Rule Id="S3246" Action="Warning" />
    <Rule Id="S3249" Action="Warning" />
    <Rule Id="S3253" Action="Warning" />
    <Rule Id="S3254" Action="Warning" />
    <Rule Id="S3262" Action="Warning" />
    <Rule Id="S3263" Action="Warning" />
    <Rule Id="S818" Action="Warning" />
    <Rule Id="S907" Action="Warning" />
    <Rule Id="S927" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="SonarLint.CSharp" RuleNamespace="SonarLint.CSharp">
    <Rule Id="S100" Action="Warning" />
    <Rule Id="S101" Action="None" />
    <Rule Id="S105" Action="Warning" />
    <Rule Id="S1109" Action="Warning" />
    <Rule Id="S1116" Action="Warning" />
    <Rule Id="S1117" Action="None" />
    <Rule Id="S1125" Action="Warning" />
    <Rule Id="S1144" Action="Warning" />
    <Rule Id="S1185" Action="Warning" />
    <Rule Id="S1226" Action="Warning" />
    <Rule Id="S1227" Action="Warning" />
    <Rule Id="S125" Action="None" />
    <Rule Id="S127" Action="Warning" />
    <Rule Id="S1301" Action="Warning" />
    <Rule Id="S1313" Action="Warning" />
    <Rule Id="S1479" Action="Warning" />
    <Rule Id="S1659" Action="Warning" />
    <Rule Id="S1694" Action="None" />
    <Rule Id="S1858" Action="Warning" />
    <Rule Id="S1905" Action="Warning" />
    <Rule Id="S1939" Action="Warning" />
    <Rule Id="S1994" Action="Warning" />
    <Rule Id="S2070" Action="Warning" />
    <Rule Id="S2197" Action="Warning" />
    <Rule Id="S2330" Action="Warning" />
    <Rule Id="S2333" Action="Warning" />
    <Rule Id="S2339" Action="None" />
    <Rule Id="S2360" Action="None" />
    <Rule Id="S2387" Action="Warning" />
    <Rule Id="S2551" Action="Warning" />
    <Rule Id="S2674" Action="Warning" />
    <Rule Id="S2737" Action="Warning" />
    <Rule Id="S2760" Action="Warning" />
    <Rule Id="S2931" Action="None" />
    <Rule Id="S2952" Action="Warning" />
    <Rule Id="S2955" Action="Warning" />
    <Rule Id="S3052" Action="Warning" />
    <Rule Id="S3215" Action="Warning" />
    <Rule Id="S3234" Action="Warning" />
    <Rule Id="S3235" Action="Warning" />
    <Rule Id="S3240" Action="Warning" />
    <Rule Id="S3251" Action="Warning" />
    <Rule Id="S3253" Action="Warning" />
    <Rule Id="S3254" Action="Warning" />
    <Rule Id="S3257" Action="Warning" />
    <Rule Id="S3441" Action="Warning" />
    <Rule Id="S3457" Action="Warning" />
    <Rule Id="S3532" Action="Warning" />
    <Rule Id="S818" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="SonarLint.VisualBasic" RuleNamespace="SonarLint.VisualBasic">
    <Rule Id="S105" Action="Warning" />
    <Rule Id="S1226" Action="Warning" />
    <Rule Id="S1659" Action="Warning" />
    <Rule Id="S2339" Action="None" />
    <Rule Id="S2350" Action="Warning" />
    <Rule Id="S2351" Action="Warning" />
    <Rule Id="S2354" Action="Warning" />
    <Rule Id="S2360" Action="None" />
  </Rules>
</RuleSet>