<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.netfx40.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogLevel="Warn" internalLogToConsoleError="true">
  <targets>
    <target name="Console" xsi:type="ColoredConsole"
            layout="${qpc:normalize=True:alignDecimalPoint=True:precision=3:seconds=True}&#009;${threadname}-${threadid}&#009;${level}&#009;${logger}&#009;${message}&#009;${exception:format=tostring}"/>
    <target name="Debugger" xsi:type="Debugger"
            layout="${qpc:normalize=True:alignDecimalPoint=True:precision=3:seconds=True}&#009;${threadname}-${threadid}&#009;${level}&#009;${logger}&#009;${message}&#009;${exception:format=tostring}"/>
    <target name="File" xsi:type="File" deleteOldFileOnStartup="true" concurrentWrites="false" autoFlush="true" keepFileOpen="true" fileName="${processname}.log"
            layout="${qpc:normalize=True:alignDecimalPoint=True:precision=3:seconds=True}&#009;${threadname}-${threadid}&#009;${level}&#009;${logger}&#009;${message}&#009;${exception:format=tostring}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="Console"/>
    <!--<logger name="*" minlevel="Trace" writeTo="Debugger"/>-->
    <!--<logger name="*" minlevel="Trace" writeTo="File"/>-->
  </rules>
</nlog>
