<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
      <section name="SimControl.Samples.CSharp.ClassLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="SimControl.Samples.CSharp.ConsoleApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>

    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SimControl.Samples.CSharp.ClassLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="SimControl.Samples.CSharp.ConsoleApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <applicationSettings>
    <SimControl.Samples.CSharp.ClassLibrary.Properties.Settings configSource="App.SimControl.Samples.CSharp.ClassLibrary.applicationSettings.config"/>
    <SimControl.Samples.CSharp.ConsoleApplication.Properties.Settings configSource="App.SimControl.Samples.CSharp.ConsoleApplication.applicationSettings.config"/>
  </applicationSettings>

  <userSettings>
    <SimControl.Samples.CSharp.ClassLibrary.Properties.Settings configSource="App.SimControl.Samples.CSharp.ClassLibrary.userSettings.config"/>
    <SimControl.Samples.CSharp.ConsoleApplication.Properties.Settings configSource="App.SimControl.Samples.CSharp.ConsoleApplication.userSettings.config"/>
  </userSettings>
</configuration>
