<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FakeItEasy" version="4.5.1" targetFramework="net46" />
  <package id="FakeItEasy.Analyzer.CSharp" version="4.5.1" targetFramework="net46" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net45" />
  <package id="NCrunch.Framework" version="3.16.0" targetFramework="net46" />
  <package id="NLog" version="4.5.3" targetFramework="net46" />
  <package id="NUnit" version="3.10.1" targetFramework="net46" />
  <package id="PostSharp" version="5.0.50" targetFramework="net46" developmentDependency="true" />
  <package id="PostSharp.Redist" version="5.0.50" targetFramework="net46" />
</packages>