<?xml version="1.0" encoding="utf-8" ?>
<SimControl.Samples.CSharp.ClassLibrary.Properties.Settings>
  <setting name="CSharpClassLibrary_AppSetting" serializeAs="String">
    <value>CSharpClassLibrary_AppSetting_Test</value>
  </setting>
</SimControl.Samples.CSharp.ClassLibrary.Properties.Settings>
