<?xml version="1.0" encoding="utf-8" ?>
<SimControl.Samples.CSharp.ClassLibrary.Properties.Settings>
  <setting name="CSharpClassLibrary_UserSetting" serializeAs="String">
    <value>CSharpClassLibrary_UserSetting_Test</value>
  </setting>
  <setting name="CSharpClassLibrary_UserSetting_StringCollection" serializeAs="Xml">
    <value>
      <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <string>GHI</string>
        <string>JKL</string>
      </ArrayOfString>
    </value>
  </setting>
</SimControl.Samples.CSharp.ClassLibrary.Properties.Settings>
