<?xml version="1.0" encoding="utf-8" ?>
<bindings>

  <basicHttpBinding>
    <binding closeTimeout="infinite" openTimeout="infinite" receiveTimeout="infinite" sendTimeout="infinite" maxBufferPoolSize="10000000000" maxReceivedMessageSize="1000000000" messageEncoding="Mtom" bypassProxyOnLocal="true" useDefaultWebProxy="false">
      <security mode="None"/>
    </binding>
  </basicHttpBinding>

  <wsDualHttpBinding>
    <binding closeTimeout="infinite" openTimeout="infinite" receiveTimeout="infinite" sendTimeout="infinite" maxBufferPoolSize="10000" maxReceivedMessageSize="10000" messageEncoding="Mtom" bypassProxyOnLocal="true" useDefaultWebProxy="false">
      <reliableSession ordered="true" inactivityTimeout="24.00:00:00"/>
      <security mode="None"/>
    </binding>
  </wsDualHttpBinding>

  <wsHttpBinding>
    <binding closeTimeout="infinite" openTimeout="infinite" receiveTimeout="infinite" sendTimeout="infinite" maxBufferPoolSize="10000000000" maxReceivedMessageSize="1000000000" messageEncoding="Mtom" bypassProxyOnLocal="true" useDefaultWebProxy="false">
      <reliableSession enabled="true" ordered="true" inactivityTimeout="24.00:00:00"/>
      <security mode="None"/>
    </binding>
  </wsHttpBinding>
</bindings>
