<?xml version="1.0" encoding="utf-8" ?>
<nlog>
  <targets>
    <target name="Console" type="ColoredConsole" layout="${qpc:normalize=True:alignDecimalPoint=True:precision=3:seconds=True}	${threadname}-${threadid}	${level}	${logger}	${message}	${exception:format=tostring}"/>
    <target name="Debugger" type="Debugger" layout="${qpc:normalize=True:alignDecimalPoint=True:precision=3:seconds=True}	${threadname}-${threadid}	${level}	${logger}	${message}	${exception:format=tostring}"/>
    <target name="File" type="File" deleteOldFileOnStartup="true" concurrentWrites="false" autoFlush="true" keepFileOpen="true" fileName="${basedir:dir}${processname}.log">
      <layout type="CsvLayout" delimiter="Tab">
        <column name="Date" layout="${longdate}"/>
        <column name="QPC" layout="${qpc:normalize=True:alignDecimalPoint=True:precision=3:seconds=True}"/>
        <column name="Thread" layout="${threadname}:${threadid}"/>
        <column name="Logger" layout="${logger}"/>
        <column name="Level" layout="${level}"/>
        <column name="Message" layout="${message}"/>
        <column name="Exception" layout="${exception:format=tostring}"/>
      </layout>
    </target>
    <target name="Database" type="Database" dbProvider="System.Data.SqlServerCe.4.0" connectionString="Datasource=NLog.sdf" keepConnection="true" commandType="Text" commandText="insert into LogEvents(Date, MachineName, Processname, ThreadId, ThreadName, Logger, Level, Message, Exception) values (@Date, @Machinename, @ProcessName, @ThreadId, @ThreadName, @Logger, @Level, @Message, @Exception)">
      <parameter name="@Date" layout="${longdate}"/>
      <parameter name="@MachineName" layout="${machinename}"/>
      <parameter name="@ProcessName" layout="${processname}"/>
      <parameter name="@ThreadId" layout="${threadid}"/>
      <parameter name="@ThreadName" layout="${threadname}"/>
      <parameter name="@Logger" layout="${logger}"/>
      <parameter name="@Level" layout="${level}"/>
      <parameter name="@Message" layout="${message}"/>
      <parameter name="@Exception" layout="${exception:format=Type,Message,StackTrace:separator=, }"/>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="Console"/>
    <logger name="*" minlevel="Trace" writeTo="Debugger"/>
    <logger name="*" minlevel="Trace" writeTo="File"/>
    <logger name="*" minlevel="Trace" writeTo="Database"/>
  </rules>
</nlog>
