<?xml version="1.0" encoding="utf-8" ?>
<services>

  <service name="SimControl.Samples.CSharp.Wcf.Service.DuplexSampleServicePerSessionInstance">
    <endpoint binding="wsDualHttpBinding" contract="SimControl.Samples.CSharp.Wcf.ServiceContract.ISampleService">
      <identity>
        <dns value="localhost"/>
      </identity>
    </endpoint>
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
    <host>
      <baseAddresses>
        <add baseAddress="http://localhost:8733/Design_Time_Addresses/SimControl.Samples.CSharp.Wcf.Service/DuplexSampleServicePerSessionInstance/"/>
      </baseAddresses>
      <timeouts closeTimeout="Infinite" openTimeout="Infinite"/>
    </host>
  </service>

  <service name="SimControl.Samples.CSharp.Wcf.Service.DuplexSampleServiceSingleInstance">
    <endpoint binding="wsDualHttpBinding" contract="SimControl.Samples.CSharp.Wcf.ServiceContract.ISampleService">
      <identity>
        <dns value="localhost"/>
      </identity>
    </endpoint>
    
    <endpoint
      address  = "net.pipe://localhost/SimControl.Samples.CSharp.Wcf.Service/DuplexSampleServiceSingleInstance.wsDualHttpBinding"
      binding  = "netNamedPipeBinding" 
      contract = "SimControl.Samples.CSharp.Wcf.ServiceContract.ISampleService" >
    </endpoint>
    
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
    <host>
      <baseAddresses>
        <add baseAddress="http://localhost:8733/Design_Time_Addresses/SimControl.Samples.CSharp.Wcf.Service/DuplexSampleServiceSingleInstance.wsDualHttpBinding/"/>
      </baseAddresses>
      <timeouts closeTimeout="Infinite" openTimeout="Infinite"/>
    </host>
  </service>

  <service name="SimControl.Samples.CSharp.Wcf.Service.SampleServicePerSessionInstance">
    <endpoint address="wsHttpBinding" binding="wsHttpBinding" contract="SimControl.Samples.CSharp.Wcf.ServiceContract.ISampleService">
      <identity>
        <dns value="localhost"/>
      </identity>
    </endpoint>
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
    <host>
      <baseAddresses>
        <add baseAddress="http://localhost:8733/Design_Time_Addresses/SimControl.Samples.CSharp.Wcf.Service/SampleServicePerSessionInstance.basicHttpBinding/"/>
      </baseAddresses>
      <timeouts closeTimeout="Infinite" openTimeout="Infinite"/>
    </host>
  </service>

  <service name="SimControl.Samples.CSharp.Wcf.Service.SampleServiceSingleInstance">
    <endpoint binding="wsHttpBinding" contract="SimControl.Samples.CSharp.Wcf.ServiceContract.ISampleService">
      <identity>
        <dns value="localhost"/>
      </identity>
    </endpoint>
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
    <host>
      <baseAddresses>
        <add baseAddress="http://localhost:8733/Design_Time_Addresses/SimControl.Samples.CSharp.Wcf.Service/SampleServiceSingleInstance/"/>
      </baseAddresses>
      <timeouts closeTimeout="Infinite" openTimeout="Infinite"/>
    </host>
  </service>

</services>
