<?xml version="1.0" encoding="utf-8" ?>
<client>
  <endpoint name="SimControl.Samples.CSharp.Wcf.Client.SampleServiceEap.SampleServiceClient" binding="wsDualHttpBinding" contract="SampleServiceEap.ISampleService"/>
  <endpoint name="SimControl.Samples.CSharp.Wcf.Client45.SampleServiceTap.SampleServiceClient" binding="wsDualHttpBinding" contract="SampleServiceTap.ISampleService"/>
</client>
