<?xml version="1.0" encoding="utf-8" ?>
<SimControl.Samples.CSharp.ConsoleApplication.Properties.Settings>
  <setting name="CSharpConsoleApplication_AppSetting" serializeAs="String">
    <value>CSharpConsoleApplication_AppSetting_Test</value>
  </setting>
</SimControl.Samples.CSharp.ConsoleApplication.Properties.Settings>
