<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" internalLogLevel="Warn" internalLogToConsoleError="true" throwConfigExceptions="true">  <targets>
    <target name="Console" xsi:type="ColoredConsole">
      <layout xsi:type="CsvLayout" delimiter="Tab">
        <column name="Time" layout="${time}" />
        <!--<column name="AppDomain" layout="${appdomain}" />-->
        <column name="Thread" layout="${threadname}-${threadid}" />
        <column name="Level" layout="${level}" />
        <column name="Logger" layout="${logger}" />
        <column name="Message" layout="${message}" />
        <column name="Exception" layout="${exception:format=ToString}" />
      </layout>
    </target>
    <target name="Debugger" xsi:type="Debugger">
      <layout xsi:type="CsvLayout" delimiter="Tab">
        <column name="Time" layout="${time}" />
        <!--<column name="AppDomain" layout="${appdomain}" />-->
        <column name="Thread" layout="${threadname}-${threadid}" />
        <column name="Level" layout="${level}" />
        <column name="Logger" layout="${logger}" />
        <column name="Message" layout="${message}" />
        <column name="Exception" layout="${exception:format=ToString}" />
      </layout>
    </target>
    <target name="File" xsi:type="File" deleteOldFileOnStartup="true" keepFileOpen="true" fileName="${processname}.log">
      <layout xsi:type="CsvLayout" delimiter="Tab">
        <column name="Date" layout="${longdate}" />
        <column name="Process" layout="${processname}-${processid}" />
        <!--<column name="AppDomain" layout="${appdomain}" />-->
        <column name="Thread" layout="${threadname}-${threadid}" />
        <column name="Level" layout="${level}" />
        <column name="Logger" layout="${logger}" />
        <column name="Message" layout="${message}" />
        <column name="Exception" layout="${exception:format=ToString}" />
      </layout>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="Console" />
    <logger name="*" minlevel="Trace" writeTo="Debugger" />
    <logger name="*" minlevel="Trace" writeTo="File" />
  </rules>
</nlog>
