<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISampleService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/SimControl.Samples.CSharp.WcfServiceLibrary/SampleService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISampleService"
                contract="SampleServiceClient.ISampleService" name="BasicHttpBinding_ISampleService" />
        </client>
    </system.serviceModel>
</configuration>