# Common settings that generally should always be used with your language specific settings

# Auto detect text files and perform LF normalization
*           text=auto

# The above will handle all files NOT found below

# Documents
*.doc       -text diff=astextplain
*.docx      -text diff=astextplain
*.dot       -text diff=astextplain
*.dotx      -text diff=astextplain
*.pdf       -text diff=astextplain
*.rtf       -text diff=astextplain
*.xls       -text diff=astextplain
*.xlsx      -text diff=astextplain
*.md        text
*.csv       text eol=crlf
*.txt       text

# Graphics
*.ai        binary
*.bmp       binary
*.design    binary
*.png       binary
*.jpg       binary
*.jpeg      binary
*.gif       binary
*.tif       binary
*.tiff      binary
*.ico       binary
*.svg       text
*.eps       binary

# Sound
*.wav       binary

# Scripts
*.bash      text eol=lf
*.fish      text eol=lf
*.ksh       text eol=lf
*.sh        text eol=lf
*.zsh       text eol=lf

# These are explicitly windows files and should use crlf
*.bat       text eol=crlf
*.cmd       text eol=crlf
*.ps1       text eol=crlf

# Serialisation
*.json      text
*.xml       text
*.xsd       text
*.yaml      text
*.yml       text

# Archives
*.7z        binary
*.bz        binary
*.bz2       binary
*.bzip2     binary
*.gz        binary
*.lz        binary
*.lzma      binary
*.rar       binary
*.tar       binary
*.taz       binary
*.tbz       binary
*.tbz2      binary
*.tgz       binary
*.tlz       binary
*.txz       binary
*.xz        binary
*.Z         binary
*.zip       binary
*.zst       binary

# Text files where line endings should be preserved
*.patch     -text

# Build outputs
*.exe       binary
*.dll       binary
*.exp       binary
*.lib       binary
*.nuget     binary
*.pdb       binary

# Visual Studio project and solution files
*.sln       text
*.slnx      text
*.csproj    text
*.vbproj    text
*.vcxproj   text
*.vcproj    text
*.dbproj    text
*.fsproj    text
*.lsproj    text
*.vdproj    text
*.wixproj   text
*.modelproj text
*.sqlproj   text
*.wwaproj   text
*.xproj     text
*.props     text
*.filters   text
*.vcxitems  text

# C# and .Net files
*.config    text
*.cs        text
*.cshtml    text
*.csx       text
*.resx      text
*.settings  text
*.xaml      text

# Code files
*.h         text
*.c         text
*.py        text
